@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <label class="w-100">Display Name</label>
        <label id="DisplayName"></label>
    </div>
</div>

<div class="row">
    
    <div class="col-md-12">
        <canvas id="canvas"></canvas>
    </div>

</div>

<div class="row">
    <div class="col-md-6">
        <button type="button" class="btn btn-danger btn-block">Register</button>
    </div>
    <div class="col-md-6">
        <button type="button" class="btn btn-danger btn-block">Cancel</button>
    </div>
</div>



@section Scripts{

<script type="text/javascript">
    var canvas = document.querySelector('#canvas');

    var signaturePad = new SignaturePad(canvas, {
        backgroundColor: 'rgb(238,238,238)'
    });

    $(window).on('load', function () {
        canvas.setAttribute('width', $('.container').width());
        canvas.setAttribute('height', window.innerHeight - $('#btn').outerHeight() - 10);
        signaturePad.clear();
        // Initializes a LIFF app
        liff.init(function (data) { });


        liff.getProfile()
            .then(profile => {
                var name = profile.displayName;
                $('#DisplayName').text(name);
            })
            .catch((err) => {
                console.log('error', err);
            });

    });
</script>

}
