@{
    ViewData["Title"] = "Home Page";
}

<canvas id="canvas"></canvas>
<button id="btn" type="button" class="btn btn-primary btn-block">Share</button>

@section Scripts{

<script type="text/javascript">
    var canvas = document.querySelector('#canvas');

    var signaturePad = new SignaturePad(canvas, {
        backgroundColor: 'rgb(238,238,238)'
    });

    $(window).on('load', function () {
        canvas.setAttribute('width', $('.container').width());
        canvas.setAttribute('height', window.innerHeight - $('#btn').outerHeight() - 10);
        signaturePad.clear();
        // Initializes a LIFF app
        liff.init(function (data) { });
    });
</script>

}
